<%= form_with(model: submission, class: "contents") do |form| %>
  <% if submission.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-700 p-4 rounded border border-red-300 mb-6">
      <h2><%= pluralize(submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
        <% submission.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-5">
    <%= form.label :title %>
    <%= form.text_field :title, class: "input" %>
  </div>

  <div class="mb-5">
    <%= form.label :body %>
    <%= form.text_area :body, rows: 4, class: "input" %>
  </div>

  <div class="mb-5">
    <%= form.label :url %>
    <%= form.text_field :url, class: "input" %>
  </div>

  <div class="mb-5">
    <%= form.label :media do %>
    <span class="mb-1 inline-block">Attach a video or image</span>
    <%= form.file_field :media, class: "block w-full text-sm text-gray-500 filie:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-indigo-50 file:text-indigo-700 hover:file:bg-indigo-100" %>
    <% end %>
  </div>

  <%= form.submit class: "btn btn-indigo" %>
<% end %>
