<li id="<%= dom_id submission%>">
  <div class="py-3 flex items-start flex-wrap">
    <div class="w-2/12">
      <% if submission.media.attached? %>
        <%= link_to submission do %>
          <% if submission.media.video? %>
            <%= video_tag submission.media %>
          <% else %>
            <%= image_tag submission.media.variant(resize_to_fit: [400, 400]), alt: submission.title, class: "rounded" %>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class="flex-1 <%= "pl-4" if submission.media.attached? %>">
      <h3 class="mb-1 flex flex-wrap  items-center text-xl">
        <%= link_to submission.title, submission, class: "no-underline hover:text-indigo-400" %>
        <% if submission.url? %>
          <span class="pl-2 text-xs font-normal font-mono text-indigo-400 tracking-tighter" >
            <%= truncate(submission.url, length: 30) %>
          </span>
        <% end %>
      </h3>

    <% if submission.body? %>
      <div class="text-sm text-gray-700">
        <%= truncate(submission.body, length: 140) %>
      </div>
    <% end %>

    <% if user_signed_in? && current_user.id == submission.user.id %>
      <div class="pt-4 flex flex-wrap items-center">
        <%= link_to edit_submission_path(submission), class: "no-underline mr-2" do %>
          <%= render_svg "icons/edit", title: "Edit", class: "w-5 h-5 fill-current text-gray-400 hover:text-indigo-600" %>
        <% end %>

        <%= link_to submission_path(submission), method: :delete, class: "no-underline mr-2" do %>
          <%= render_svg "icons/delete", title: "Delete", class: "w-5 h-5 fill-current text-gray-400 hover:text-indigo-600" %>
        <% end%>
      </div>
    <% end %>

    </div>
  </div>
</li>
